:root {
    --white: #ffffff;
    --gray: #4a4a4a;
    --black: #000000;

    --first-color: #8be89e;
    --second-color: #57b771;
    --third-color: #3d9e5a;

    --black-second-color: #08080D;
    --black-third-color: #9da9ce16;
    
    --text-color-0: #343d48;
    --text-color-1: #b5b9bf;

    --font-family:  'Ubuntu', sans-serif;
}