:root {
    --white: #ffffff;
    --gray: #4a4a4a;
    --black: #000000;

    --first-color: #8be89e;
    --second-color: #57b771;
    --third-color: #3d9e5a;

    --black-first-color: #343746;
    --black-second-color: #21222c;
    --black-third-color: #282a36;
    
    --text-color-0: #343d48;
    --text-color-1: #b5b9bf;

    --navbar-mobile: #ffffff00;

    --font-family:  'Ubuntu', sans-serif;
}