.projects {
    scroll-margin-top: 10rem;
    background-color: var(--black-third-color);
}

.projects .projects__content .ul .projects__cards {
    position: relative;
    padding: 6rem 4rem 4rem;
    text-align: center;
}

.projects .projects__content .secondary-title {
    color: var(--second-color) !important;
    padding-bottom: 4rem;
}

.projects .projects__content ol {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 2rem;
}

.projects .projects__content ol li .projects__image img {
    width: 40rem;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    filter: grayscale(100%);
    transition: all 0.4s ease-in-out;
}

.projects .projects__content .projects__text {
    margin-top: -7px;
    padding: 1.1rem;
    border-top: 1rem solid var(--second-color);
}